<div class="body-content">
  <div
    class="card text-white bg-secondary mb-3 animate__animated animate__bounceInLeft"
  >
    <div class="card-header text-center">
      Lista de Jugadores
    </div>
    <div class="card-body">
      <div class="text-center margin-button">
        <button
          class="btn btn-light margin-le"
          data-toggle="modal"
          data-target="#agregarModal"
        >
          <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-light margin-le">
          <i class="fa fa-eraser" (click)="resetDatos()"></i>
        </button>
      </div>
      <div *ngIf="listas.length === 0; else userData" class="text-center">
        No hay jugadores
      </div>
      <ng-template #userData>
        <div class="table-responsive">
          <table class="table table-dark table-striped">
            <thead class="color-header">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col"><i class="fa fa-star"></i></th>
                <th scope="col"><i class="fa fa-trophy"></i></th>
                <th scope="col" class="text-center">Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of listas; let i = index">
                <td>{{ dato.nombre }}</td>
                <td>{{ dato.jueGana }}</td>
                <td>{{ dato.ptos }}</td>
                <td class="d-flex justify-content-around">
                  <i
                    class="fa fa-pencil puntero"
                    data-toggle="modal"
                    data-target="#editarModal"
                    (click)="editar(i)"
                  ></i>
                  <i
                    class="fa fa-plus puntero"
                    data-toggle="modal"
                    data-target="#sumarModal"
                  ></i>
                  <i class="fa fa-trash-o puntero" (click)="eliminar(i)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- -------------INFO CONTENT ------------- -->
  <div
    id="accordion"
    class="info-content animate__animated animate__bounceInLeft"
  >
    <div class="card bg-secondary">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link info-boton"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body info-jugador">
          Anim pariatur cliche reprehenderit, enim eiusmod high
        </div>
      </div>
    </div>
    <div class="card bg-secondary">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link info-boton"
            data-toggle="collapse"
            data-target="#collapseDos"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
      <div
        id="collapseDos"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body info-jugador">
          Anim pariatur cliche reprehenderit, enim eiusmod high
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ------------------ EDITAR --------------->
<div
  class="modal fade"
  id="editarModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content animate__animated animate__bounceInDown">
      <div class="modal-header">
        <h5 class="modal-title">Editar</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <form class="form-inline">
                <div class="form-group">
                  <label for="inputPassword6">Nombre</label>
                  <input
                    type="text"
                    class="form-control mx-sm-3"
                    placeholder="Introducir nombre"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="guardar('editarJugador')"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ------------------ AGREGAR --------------->
<div
  class="modal fade"
  id="agregarModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content animate__animated animate__bounceInDown">
      <div class="modal-header">
        <h5 class="modal-title">Agregar</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <form class="form-inline">
                <div class="form-group">
                  <label for="inputPassword6">Nombre</label>
                  <input
                    type="text"
                    class="form-control mx-sm-3"
                    placeholder="Introducir nombre"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="guardar('agregarJugador')"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ------------------ SUMAR --------------->
<div
  class="modal fade"
  id="sumarModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content animate__animated animate__bounceInDown">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sumar</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <input
            class="form-control"
            type="text"
            placeholder="Sumar"
            disabled
          />
          <div class="row">
            <div class="col-12 col-sm-12">
              <button class="boton-suma">
                1
              </button>
              <button class="boton-suma">2</button>
              <button class="boton-suma">3</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <button class="boton-suma">4</button>
              <button class="boton-suma">5</button>
              <button class="boton-suma">6</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <button class="boton-suma">7</button>
              <button class="boton-suma">8</button>
              <button class="boton-suma">9</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="guardar('sumarJugador')"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
